//si no soporta webp
.no-webp .imagen-contacto {
    background-image: url(../img/encuentra.jpg);
}
    
//si se soporta webp
.webp .imagen-contacto{
    background-image: url(../img/encuentra.webp);
}

.imagen-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10rem 0;

    @include tablet{
        min-height: 30rem;
    }

    h2{
        font-weight: bold;
        font-size: 4rem;
        color: $blanco;
    }

    p{
        font-size: 1.8rem;
        color: $blanco;
    }

}

.boton-amarillo{
    display: block;
}